body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 48px;
}
.orange-color{
    color:brown
}
section{
    display:flex;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
.order-food{
    text-decoration: none;
    background: rgb(223, 106, 28);
    padding: 10px 20px;
    border-radius: 10px;
}
.zahid{
    text-decoration: none;
    background-color: rgb(233, 114, 45) ;
    padding:10px 20px ;
    border-radius: 10px;
}
.top-banner{
    background-image: url(images/shapes/7.png);
}
footer p{
    text-align: center;
}
