body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 48px;
}
.orange-color{
    color:brown
}
section{
    display:flex;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
.order-food{
    text-decoration: none;
    background: rgb(223, 106, 28);
    padding: 10px 20px;
    border-radius: 10px;
}





.zahid{
    text-decoration: none;
    background-color: rgb(233, 114, 45) ;
    padding:10px 20px ;
    border-radius: 10px;
}
.top-banner{
    background-image: url(images/shapes/7.png);
}





.rifat{
    text-align: center;
}

food-item{
    
    display: flex;
    float:right;
    margin-top:10px; 
    
    
   

}

.food img{
  width: 90.33%;
  padding-left: 5px;
  border-radius: 50px;
 
}
.box{
    width: 355px;
    border: solid whitesmoke;
    padding-top: 20px;
    margin: 20px;
   padding-left: 45px;
   border-radius: 30px;
   box-shadow: 8px 8px 8px gray;  
    
}

   

.mom{
    display:flex;
    box-shadow: rebeccapurple;
    float:right;
    margin-top:10px ;
}
.mom img{
    width: 90.33%;
    padding-left: 5px;
}
.raju img{
    width: 355px;
    border:solid whitesmoke;
    padding-top: 10px;
    margin: 20px;
    padding-left:45px ;
    border-radius: 30px;
    box-shadow:8px 8px 8px  rgb(106, 150, 18);

 
}



.column {
float: left;
width: 33.33%;
padding: 10px;
height: 30px; 
}

.row{
      text-align: center;
      background:solid whitesmoke;
      
      padding-top: 100px;
    
      margin: 5px;
      padding-left:5px ;
    }



.nazrul{
    text-align: center;
    background-color: rgba(248, 106, 11, 0.842);
    height: 190px;
 }
.nurul{
   color: rgb(17, 3, 2);
}